<% content_for :right_nav do %>
  <li><p class="navbar-btn"><%= link_to 'Submit A Link', new_link_path, class: "btn btn-default" %></p></li>
<% end %>

<%= render @link %>

<div id="disqus_thread"></div>
<script>


var disqus_config = function () {
       this.page.url = '<%= url_for([@link, {only_path: false}]) %>';
       this.page.identifier = '<%= @link.id %>';
       this.page.title = '<%= @link.title %>';
   };
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//railsfeeds.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
